@import "scss/abstract/_mixins",
        "scss/abstract/_variable",
        "scss/layout/_header",
        "scss/component/button.scss",
        "scss/layout/presentation.scss",
        "scss/layout/competence",
        "scss/layout/projet",
        "scss/layout/_projet_yoda",
        "scss/layout/footer";



        @font-face {
            font-family: 'KumbhSans';
            src: url('/font/KumbhSans-Regular.ttf');
        }

        
        @font-face {
            font-family: 'poppins-regular';
            src: url('/font/Poppins-Medium.ttf');
        }

        @font-face {
            font-family: 'poppins-bold';
            src: url('/font/Poppins-Bold.ttf');
        }