*{
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body  {
    background-color: #0e1111;
}

nav { 
    width: 339px;
    padding: 5% auto;
    display: flex;
    position: fixed;
}

nav ul {
    display: flex;
}

nav a {
    display: flex;
    width: 50px;
    text-decoration: none;
  }

  nav, scroll-container {
    display: block;
    margin: 0 auto;
    text-align: center;
  }

  scroll-page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 5em;
  }




section.present{
    h1{
        font-size: 1rem;
    }
    margin-top: 5%;
    margin-left: 15%;
    margin-right: 10%;
    color: white;
 
    .img-text{
    display: flex;
    margin-top: 5%;
    align-items: center;
    }

    .img{
        img{
            border-radius: 10px;
            width: 500px;
        }
    }

    .present-texte{
        margin-left: 10%;
    }

    .present-texte p {
        font-size: 2rem;
    }

    .present-texte h1 {
        font-size: 2rem;
    }

    .present-texte h2 {
        font-size: 2rem;
    }

    .present-texte h3 {
        font-size: 2rem;
        margin-top: 5%;
    }

    .img-logo{
        a {
            margin-left: 5%;  
        }
        a img {
            position: relative;
            left: 55%;
            width: 10%;
            bottom: 66%   ;            
        }
    }
}





