*{
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #0e1111;
}

header {
    background-color: transparent;
}
 nav {
        z-index: auto;
        position: fixed;  
        background: none;
        
        ul {
            list-style-type: none;
            li {  
                margin-bottom: 5%;
                a { 
                    --fill-color: #198CE6;
                    padding: 4px 0;
                    font: 700 2rem Raleway, sans-serif;
                    text-decoration: none;
                    -webkit-text-stroke: 2px var(--fill-color);
                    color: transparent; 
                    transition: 0.5s linear;
                }
            }
        }
    }


  

section.present{
    h1{
        font-size: 3rem;
        text-align: center;
        
    }
    margin-top: 5%;
    margin-left: 15%;
    margin-right: 10%;
    color: white;
 
    .img-text{
    display: flex;
    margin-top: 5%;
    align-items: center;
    }

    .img{
        img{
            border-radius: 10px;
            width: 500px;
        }
    }

    .present-texte{
        margin-left: 10%;
    }

    .present-texte p {
        font-size: 2rem;
    }

    .present-texte h1 {
        font-size: 2rem;
    }

    .present-texte h2 {
        font-size: 2rem;
    }

    .present-texte h3 {
        font-size: 2rem;
        margin-top: 5%;
    }

    .img-logo{
        a {
            margin-left: 5%;  
        }
        a img {
            position: relative;
            left: 55%;
            width: 10%;
            bottom: 66%   ;            
        }
    }
}





