
*{
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    animation: animate-bg-color 35s ease infinite;
  }
  
  @keyframes animate-bg-color {
    0% {
      background-color: hsl(0, 0%, 0%);
    }
  
    25% {
      background-color: hsl(294, 49%, 12%);
    }
  
    50% {
     background-color: hsl(293, 64%, 20%);
    }
    75% {
        background-color: hsl(293, 93%, 16%);
    }
  
    100% {
      background-color: hsl(0, 0%, 0%);
    }
  }
  

  .mobile-menu{
      display: none;
      @include xl{
          display: block;
        }
  }


nav {

    @include xl {
        display: none;
    }
    margin-left: 1%;
    position: fixed;  
    ul {
        list-style-type: none;
        li {  
            margin-bottom: 95%;
            a { 
                --fill-color: #198CE6;
                font: 2rem Raleway, sans-serif;
                text-decoration: none;
                -webkit-text-stroke: 2px var(--fill-color);
                color: transparent; 
                transition: 0.5s linear;
            }
        }
    }
}



  

section.present{
    h1{
        @include xl {
            text-align: center;
            display: none;
       }
        font-size: 3rem;
        text-align: center;        
    }
    margin-top: 5%;
    margin-left: 15%;
    margin-right: 10%;
    color: white;
 
    .img-text{
        @include xl {
            display: flex;

        }
    display: flex;
    margin-top: 5%;
    align-items: center;
    }
@include xl {
                width: 300px;
                
    }
    .img{
        img{
            border-radius: 10px;
            width: 300px;
        }
    }

    .present-texte{
        @include xl {
           margin-right: 55%;
}
        margin-left: 10%;
        margin-right: 20%
    }

    .present-texte p {
        font-size: 2rem;
    }

    .present-texte h1 {
        font-family: "poppins-regular";
        font-size: 2rem;
    }

    .present-texte h2 {
        font-size: 2rem;
    }

    .present-texte h3 {
        font-size: 2rem;
        margin-top: 5%;
    }

    .img-logo{
        a {
            @include xl {
                display: block;
                margin-top: 5%;
                align-content: center;
                align-items: center;
                flex-direction: row;
    }           
            margin-left: 5%;  
        }
        a img {
            position: relative;
            left: 55%;
            width: 10%;
            bottom: 66%   ;  
            @include xl {
                display: flex;
                width: 50%;
            }          
        }

        a{
            @include xl {
                margin-top:10%;
            }    
        }
    }
}





