section.competence {
    margin-top: 5%;
    .grille {
    max-width: 1300px;
    width: 80%;
    display: grid;
    grid-template-columns:  repeat(auto-fill, 300px);
    margin: 10% auto;
    grid-gap: 10%;
    justify-content: center;
    img{
        width: 20rem;
    }

    .wordpress{
        width: 45%;
    }

    .ui-ux{
        width: 65%;
    }
}
    h1{
        font-family: Volkhov;
        font-size: 6rem;
        text-align: center;
        color: white;
    }
    p{
        color: white;
    }
}


section.projet-1{
    border-radius: 2rem;
    background: linear-gradient(19deg, #474affb9 0%, #bc48ff8f 100%);
    -webkit-backdrop-filter: blur(9px);
    backdrop-filter: blur(19px);
    padding: 2%;
    margin: 13%;
    @include xl {
        
        padding-bottom: 10%;
        display: flex;
        flex-direction: column;
        align-items: center;
        
}
    .text-projet {
        @include xl {
            display: flex;
            flex-direction: column;
        }
        display: grid;
        color: white;
        margin: 0 auto;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 240px 50px 3em ;
        column-gap: 5%;
        row-gap: 5%;
    }
    img{
        width: 100%;
        margin-right: 5%;
        grid-column: 1 / 3;
        grid-row:1/3;
    }
    h1 {
        @include xl {
            margin-bottom:5%; 
        }
        margin-bottom: 3%;   margin-bottom: 3%;      
        text-align: center;
        color: white;
    
    }
    h2{
        font-size: 3rem;
        font-family: Poppins-Medium; 
        grid-column:  4 / 5;
        grid-row:  1 ;
        @include xl {
            margin-bottom:5%; 
        }
        
    }

    p{
        font-size: 2rem;
        font-family: Poppins-Medium;
        @include xl {
            
            margin-bottom:5%; 
            margin-top:5%; 
        }
        grid-column:  3 / 4;
        grid-row:  1 /2;
    }

    h3{
        font-size: 3rem;
        font-family: Poppins-Medium;
        @include xl {
            margin-bottom:5%; 
            
        }
        grid-column:  3 / 4;
        grid-row:  2/3;
    }
    .nav-links{
        width:100%;
        display:flex;
        justify-content: center;
            .nav-button{
               font-size: 2rem;
               background: blue;
               padding: 1.5rem 5rem;
               border-radius: 4rem;
               color: lightblue;
               font-family: "Urbanist-Regular";
               text-transform: uppercase;
               text-decoration: none;
               border: 2px solid blue;
               transition: .3s;
               font-family: Poppins-Medium;
               &:hover{
                   background-color:transparent;
                   color: blue;
                   
               }
            }
        }
 
}

section.projet-2{

    @include xl {
        padding-bottom: 10%;
        display: flex;
        flex-direction: column;
        align-items: center;
        
}
border-radius: 2rem;
background: linear-gradient(1deg, #474affb9 30%, #bc48ff8f 70%);
-webkit-backdrop-filter: blur(9px);
backdrop-filter: blur(19px);
    padding: 3%;
    margin: 18%;

    .text-projet-2 {

        @include xl {
            display: flex;
            flex-direction: column;
        }
        
        display: grid;
        color: white;
        margin: 0 auto;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 240px 50px 3em ;
        column-gap: 5%;
        row-gap: 5%;
    }
    img{
        width: 90%;
        grid-column: 3 / 5;
        grid-row:1/3;

    }
    
    h2{
        font-size: 3rem;
        font-family: Poppins-Medium; 
        @include xl {
            margin-bottom:5%; 
        }
        grid-column:  2/3 ;
        grid-row:  1 ;
        
    }

    p{
        font-size: 2rem;
        font-family: Poppins-Medium;
        @include xl {
            font-size: 6rem;
            margin-bottom:5%; 
            margin-top:5%; 
        }
        grid-column:  1/ 2;
        grid-row:  1/3;
    }

    h3{
        font-size: 3rem;
        font-family: Poppins-Medium;
        @include xl {
            margin-bottom:5%; 
            
        }
        grid-column:  2 / 3;
        grid-row:  2/3;
    }
    
    .nav-links{
        width:100%;
        display:flex;
        justify-content: center;
            .nav-button{
               font-size: 2rem;
               background: blue;
               padding: 1.5rem 5rem;
               border-radius: 4rem;
               color: lightblue;
               font-family: "Urbanist-Regular";
               text-transform: uppercase;
               text-decoration: none;
               border: 2px solid blue;
               transition: .3s;
               font-family: Poppins-Medium;
               &:hover{
                   background-color:transparent;
                   color: blue;
                   
               }
            }
        }

  
}



section.photo{
    padding: 3%;
    margin: 20%;
    border-radius: 2rem;
    background: linear-gradient(19deg,#bc48ff8f 0% ,#474affb9 100% );
    -webkit-backdrop-filter: blur(9px);
    backdrop-filter: blur(19px);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    a{
        background: rgb(51, 71, 248);
        background: linear-gradient(214deg, rgb(29, 7, 224) 11%, rgb(66, 38, 227) 57%);
        border-radius:9px;
        cursor:pointer;
        color:#ffffff;
        font-size: 2rem;
        font-family: poppins-semi-bold;
        padding:12px 17px;
        text-decoration:none;
        margin-top: 2%;
        margin-bottom: 2%;
    }
    a:hover {
        background: rgb(1, 124, 239);
        background: linear-gradient(214deg, rgb(8, 90, 184) 11%, rgb(29, 76, 207) 57%);
    }
    
    img{
        width: 20%;
        height: 10%;
    }
    h1{
        font-size: 3rem;
        font-family: Poppins-Medium;
        margin-bottom: 2%;
    }

    p{
        font-size: 3rem;
        font-family: Poppins-Light;
        margin-bottom: 2%;
       
        text-align: center;
        span {
            font-style: oblique;
        }
    }
}



section.projet-3{
    
    background: linear-gradient(19deg, #bc48ff8f 25%,#474affb9 75%);
    -webkit-backdrop-filter: blur(9px);
    backdrop-filter: blur(19px);
    border-radius: 2rem;
    padding: 2%;
    margin: 13%;
    @include xl {
        
        padding-bottom: 10%;
        display: flex;
        flex-direction: column;
        align-items: center;
        
}
    .text-projet-3 {
        @include xl {
            display: flex;
            flex-direction: column;
        }
        display: grid;
        color: white;
        margin: 0 auto;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 240px 50px 3em ;
        column-gap: 5%;
        row-gap: 5%;
    }
    img{
        width: 100%;
        margin-right: 5%;
        grid-column: 1 / 3;
        grid-row:1/3;
    }
    h1 {
        @include xl {
            margin-bottom:5%; 
        }
        margin-bottom: 3%;   margin-bottom: 3%;      
        text-align: center;
        color: white;
    
    }
    h2{
        font-size: 3rem;
        font-family: Poppins-Medium; 
        grid-column:  4 / 5;
        grid-row:  1 ;
        @include xl {
            margin-bottom:5%; 
        }
        
    }

    p{
        font-size: 2rem;
        font-family: Poppins-Medium;
        @include xl {
            
            margin-bottom:5%; 
            margin-top:5%; 
        }
        grid-column:  3 / 4;
        grid-row:  1 /2;
    }

    h3{
        font-size: 3rem;
        font-family: Poppins-Medium;
        @include xl {
            margin-bottom:5%; 
            
        }
        grid-column:  3 / 4;
        grid-row:  2/3;
    }
    .nav-links{
        width:100%;
        display:flex;
        justify-content: center;
            .nav-button{
               font-size: 2rem;
               background: blue;
               padding: 1.5rem 5rem;
               border-radius: 4rem;
               color: lightblue;
               font-family: "Urbanist-Regular";
               text-transform: uppercase;
               text-decoration: none;
               border: 2px solid blue;
               transition: .3s;
               font-family: Poppins-Medium;
               &:hover{
                   background-color:transparent;
                   color: blue;
                   
               }
            }
        }
 
}