@mixin xl {
    @media screen and (max-width: 1200px) 
    { @content; 
    }
}


@mixin bg-center($url) {
    background-size: cover;
    background-position: center;
    display: flex;
    align-content: center;
    justify-content: center;
    
}

@mixin partie-projet {
    height: auto;
    width: 90%;
    margin: 0 auto;
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: stretch;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    
    img{ 
        height: 0 auto;
        width:100%;
        margin-top: 2%;
    }
    p{
        font-size: 150%;
    }

    h2{
        font-size: 250%;
    }
}


 @mixin card_competence {
    margin: 0 auto;
    margin-top: 10px;
    width: 85%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-content: stretch;
    align-items: center;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    margin-left: 2%;
    margin-right: 2%;
    font-size: 25px;


        img {
            max-width: 100%;
            height: 100px;
        }
    }
    

   