$breakpoints: (
        mobile:  640px,
        tablet: 768px, 
        desktop: 1024px) ;


$presentation:rgb(184, 187, 37);
$container:red;
$array:purple;
$background:yellow;
$title_1:mixin-exists($name: bg_center);
$partie1:red;

@font-face {
        font-family: Poppins-Medium;
        src: url('/font/Poppins-Medium.ttf');
};


@font-face {
        font-family: poppins-semi-bold;
        src: url('/font/Poppins-SemiBold.ttf');
};

@font-face {
        font-family: Poppins-Light;
        src: url('/font/Poppins-Light.ttf');
};
@font-face {
        font-family: Volkhov;
        src: url('/font/Volkhov-Bold.ttf');
};



